body {
    color: #998b8b;
    background: url(../src/imagens/Gundam_logo.webp) no-repeat center center fixed;
    background-size: 40%; 
    /* font-family: "Roboto Mono", monospace; */
    line-height: 1.4;
    padding: 32px 24px;
}

.History{
    /* background-color: aquamarine; */
    font-size: large;
    font-weight: 600; 
    

}

img{
    width: 80vw;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cronology{
    /* background-color: blueviolet; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.mainfoto{
    display: block;
    margin: 0 auto;
    width: 50vw;
    height: 50hw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: black;
    
}

th,td{
    border: 3px solid red
}

thead, tbody{
    background-color: aqua;
    text-align: center;
    
}


h1{
    font-size: 50px; font-style: italic;
    color: blue;
    background-color: orange

}

h2{
    font-size: 30px; font-style: oblique;
    background-color: firebrick;
}

h3{
    background-color: red;
}

li{
    font-size: x-large;
    /* background-color: blue; */
    color: orange;
}

/* a{
    color: white;
} */

button{
    text-decoration-color: black;
}

p{
    color: aliceblue;
}

.meu-botao-01 {
  background-color: #0f0e0e56;
  color: white; 
  padding: 8px 10px; 
  border: none; 
  border-radius: 8px; 
  font-size: 15px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.meu-botao-02 {
  background-color: #0f0e0e56;
  color: white; 
  padding: 8px 10px; 
  border: none; 
  border-radius: 8px; 
  font-size: 15px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.meu-botao-03 {
  background-color: #0f0e0e56;
  color: white; 
  padding: 8px 10px; 
  border: none; 
  border-radius: 8px; 
  font-size: 15px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.meu-botao-01:hover {
  background-color: #e73c08;
}

.meu-botao-02:hover {
  background-color: #7381ce;
}

.meu-botao-03:hover {
  background-color: #2adba0f5;
}
